@model List<Slider>
@{
    int counter = 0;
}

<div class="container">

    <div class="container">
        <div>
            <h1 style="text-align:center">Sliders</h1>
        </div>
    </div>

    <div class="container-fluid pt-3">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title1</th>
                    <th scope="col">Title2</th>
                    <th scope="col">ButtonText</th>
                    <th scope="col">Actions</th>
                    <th scope="col"> <a asp-controller="slider" asp-action="create" class="btn btn-primary">Create</a> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Slider sl in Model)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@sl.Id</td>
                        <td><img src="~/uploads/sliders/@sl.ImageUrl" width="100px" /></td>
                        <td>@sl.Name</td>
                        <td>@sl.Name2</td>
                        <td>@sl.ButtonText</td>
                        <td>
                            <a asp-controller="slider" asp-action="update" asp-route-id="@sl.Id" a class="btn btn-success">Update</a>
                            <a asp-controller="slider" asp-action="delete" asp-route-id="@sl.Id" class="btn btn-danger deletebutton">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
            </table>
    </div>
</div>

