@model List<Category>
@{
    int counter = 0;
}

<div class="container">
    <h1 style="text-align:center">Categories</h1>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
                <th scope="col"> <a asp-action="create" asp-controller="Category" class="btn btn-success">Create a category</a></th>

            </tr>
        </thead>
        <tbody>
            @foreach (Category category in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        <a asp-action="update" asp-controller="category" asp-route-id="@category.Id" class="btn btn-info">Update</a>
                        <a asp-action="delete" asp-controller="category" asp-route-id="@category.Id" class="btn btn-danger deletebutton">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


